* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  font-size:16px;
  width:100%;
  margin:0;
  background:linear-gradient(to left, #EAECC6, #2BC0E4);
}

/*text styles*/
h1 {
  font-size:30px;
  text-align:center;
  padding:0 15%;
}

h2 {
  font-size:28px;
}

h3 {
font-size:24px;
text-align:center;
}

h4 {
  font-size:22px; 
}

h5 {
  font-size:20px;
}

h6 {
  font-size:18px;
}

p{
  text-align:center;
  font-weight:bold;
}
hr {
  position: relative;
  height: 1px;
  border: none;
  margin: 30px 0;
  width:80%;
}
hr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #2e7c97, transparent);
}
/*button group */
.btn-group {
  position:fixed;
  top:0;
  left:0;
}
a.btn {
  display: block;
  max-width: 170px;
  margin: 0;
  padding: 5px;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55), inset 1px 1px 0 rgba(255, 255, 255, 0.9), inset -1px -1px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid #dedede;
  background: linear-gradient( -72deg, #dedede, #ffffff 16%, #dedede 21%, #ffffff 24%, #dedede 36%, #ffffff 45%, #ffffff 60%, #dedede 72%, #ffffff 80%, #dedede 84%, #a1a1a1 );
  font-size: 14px;
}
a.btn:hover, a.btn:focus  {
  color: #000;
  background:#afd5e4;
}


a.btn i {
  margin-right: 30px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.75);
}



  
/*header*/

/* Style the header */
section#banner {

  padding:10px 20px;
  text-align: center;
  font-size: 30px;
  flex-direction:column;
  font-weight:bold;
}

section#banner p {
padding:0 10%;
font-size: 18px;
margin-top:10px;
margin-bottom:10px;
}

section#banner h1 {
  font-size:26px;
  margin-top:10px;
  margin-bottom:10px;
}

section#banner img.block {
  max-width: none;
  opacity: .2;
  top: 0;
  z-index: -1;
  position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
 
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
section#main {
  background: rgba(255,255,255,.8);
  margin: 20px 50px;
  box-shadow: 0 2px 10px 1px rgba(57,73,76,.4), 0 1px 2px rgba(57,73,76,.25);
}

section#form {
  border-top: 4px ridge #ccc;
  border-bottom: 4px ridge #ccc;
 margin-top: 30px;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/*sidebar*/
aside {
  margin:40px;
  flex:1;
  }

/* Style the content */
article {
  padding: 0;
}
article#form {
  flex:100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  max-width:100px;
  height:auto;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,.5);
}

img.block {
  display:block;
  margin:0 auto;
}

img.content {
  max-width:400px;
  float:right;
  box-shadow:none;
}

.images {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}
/*bullet styles*/

ul {
  margin: 5px 0 15px;
  padding: 0;
}
ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
ul.curved-round li::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 4px;
  top: 3px;
  border-top: 9px solid transparent;
  border-right: 9px solid #ff6600;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
ul.curved-round li::after {
  content: '';
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid #ff6600;
  border-radius: 20px 0 0 0;
  top: 0;
  left: -5px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Style the footer */
footer {
  background-color:#ffffff;
  padding: 10px;
  text-align: center;
  color: #000000;
  margin-top: 50px;
}

/* Responsive layout */
@media (max-width: 1400px) {
.card {
  justify-content:space-around;
}
}

@media (max-width: 1100px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  


  /*text styles*/
h1 {
  font-size:28px;
}

h2 {
  font-size:26px;
}

h3 {
font-size:24px;
}

}