* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  font-size:16px;
  width:100%;
  margin:0;
}

/*text styles*/
h1 {
  font-size:36px;
  text-align:center;
}

h2 {
  font-size:30px;
}

h3 {
font-size:24px;
}

h4 {
  font-size:22px; 
}

h5 {
  font-size:20px;
}

h6 {
  font-size:18px;
}
a.btn {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWMzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjc3MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  box-shadow: 0 2px 10px 1px rgba(57,73,76,.4), 0 1px 2px rgba(57,73,76,.25);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
a.btn i {
  margin-right: 30px;
  font-size: 2em;
  color: #FFFFFF;
}

a.btn:hover, a.btn:focus {
  background: none repeat scroll 0 0 #3aa03a;
    box-shadow: 0 0 18px 3px #1f751f inset;
    -moz-box-shadow: 0 0 18px 3px #1f751f inset;
    -webkit-box-shadow: 0 0 18px 3px #1f751f inset;
}

  
/*header*/

/* Style the header */
section#banner {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  padding:10px 20px;
  text-align: center;
  font-size: 30px;
  color: white;
  flex-direction:column;
}

section#banner p {
padding:0 10%;
font-size: 18px;
margin-top:10px;
margin-bottom:10px;
}

section#banner h1 {
  font-size:26px;
  margin-top:10px;
  margin-bottom:10px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

section#form {
  border-top: 4px ridge #ccc;
  border-bottom: 4px ridge #ccc;
 margin-top: 30px;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/*sidebar*/
aside {
  margin:40px;
  flex:1;
  }

/* Style the content */
article {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  background-color: #ffffff;
  padding: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width:100px;
  height:auto;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,.5);
}

img.block {
  display:block;
  margin:0 auto;
}

img.content {
  max-width:400px;
  float:right;
  box-shadow:none;
}

.images {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}
/*bullet styles*/

ul {
  margin: 5px 0 15px;
  padding: 0;
}
ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
ul.curved-round li::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 4px;
  top: 3px;
  border-top: 9px solid transparent;
  border-right: 9px solid #ff6600;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
ul.curved-round li::after {
  content: '';
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid #ff6600;
  border-radius: 20px 0 0 0;
  top: 0;
  left: -5px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Style the footer */
footer {
  background-color:#ffffff;
  padding: 10px;
  text-align: center;
  color: #000000;
  margin-top: 50px;
}

/* Responsive layout */
@media (max-width: 1400px) {
.card {
  justify-content:space-around;
}
}

@media (max-width: 1100px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  aside {
    order:2;
  }

  /*text styles*/
h1 {
  font-size:28px;
}

h2 {
  font-size:26px;
}

h3 {
font-size:24px;
}

}